@font-face{
    font-family: "Faune";
    src: url("woff2/Faune-Text_Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face{
    font-family: "Faune";
    src: url("woff2/Faune-Text_Bold.woff2") format("woff2");
    font-weight: 700;
}

p{
    font-family: "futura";
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.chapo{
    font-size: 15px;
}
.header{
    background-color: rgb(177, 212, 241);
    padding: 48px;
    margin: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.header-grid {
    display: grid ;
    grid-template-columns: 1fr 1fr;
}
 .header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 2;
 }


h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(54, 50, 236);
}